@import "_pricing";
@import "_features";

$background-color-header: #f6f7f8;

$font-size-sidebar: 220px;
body{
    margin:0;
    padding:0;
}
.container-fluid{
    background-color:$background-color-header;
}

.header{
    width:100%;
    background-color:$background-color-header;
    .sidebar{
    width: 57px;
    position: absolute;
    left: 5px;
    cursor: pointer;
    }
    .logo{
        padding: 10px;
        img{
        width: 200px;
        }
    }
      
}
#sidebarmenu{
    width:$font-size-sidebar;
    height: 100%;
    position: absolute;
    left: -220px;
    top: 0;
    z-index: 1040;

    ul li a{
         color: #16334e!important;
         font-size: larger;
         font-weight: 700;
    }
}
.back-container{
    position:absolute;
    left :0;
    top: 0;
    right: 0; 
    bottom: 0;
    background-color: rgba(0,0,0,.1);
    z-index: 1038;
}

footer{
    width: 100%;
    height: 500px;
    background-color: brown;
}